.weather-details-left {
  @extend %flex-column-center;
  align-items: flex-end;
}

.weather-details-right {
  @extend %flex-column-center;
}

.answer {
  position: relative;
  img {
    max-width: 70%;
    margin: 0 auto;
    display: block;
  }
  p {
    position: absolute;
    font-size: 220px;
    font-weight: 900;
    opacity: 0.2;
    z-index: -1;
    top: -120px;
    letter-spacing: -15px;
    width: 100%;
    text-align: center;
  }
}

.button-styling {
  @extend %button-styling;
}

@media (max-width: 768px) {
  .weather-details-left, .weather-details-right {
    align-items: center;
  }
  .answer {
    img {
      max-width: 40%;
      margin: 10px auto 20px;
    }
    p {
      font-size: 180px;
      top: -80px;
    }
  } 
}