.temparature{
  display: flex;
  align-items: center;
  h3{
    width: 10rem; 
  }
  button{
    height: 2rem;
    width: 2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
}