%button-styling {
  max-width: 300px;
  border: 2px solid #010e1a;
  font-weight: 800;
  color: #010e1a !important;
  background-color: #fff;
  &:hover {
    background-color: #fff;
  }
  &:active {
    background-color: #fff !important;
  }
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}