@import './partials/variables.scss';
@import './components/ChangeLocation.scss';
@import './components/SetRegion.scss';
@import './components/CurrentWeather.scss';

// FONT
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap');

* {
  font-family: 'Akatab', sans-serif;
  color: #010e1a !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(143,191,241,1) 0%, rgba(33,133,237,1) 83%);
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: -1px;
}

h3 {
  font-size: calc(0.8rem + .6vw);
  font-weight: 900;
}

@media (min-width: 992px) {
  main {
    width: 1200px;
  }
}